body {background-color: aqua}
.parte1 {background-color:chocolate;
    {h1 text-align: center;}
}
.parte2 {background-color:chocolate;
    {h1 text-align: center;}
}
.parte3 {background-color:chocolate;
    {h1 text-align: center;}
}
